#divTransaction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 5px;
}

#divTransaction div:first-child {
  width: 30px;
  padding: 0;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: Consolas;
}

#divInfo {
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

#divInfo span:first-child {
  font-weight: 700;
}

#divTransaction #spanValue {
  font-size: 1.5rem;
  text-align: right;
  font-family: Consolas;
  margin-top: 2.5px;
}

#divTransaction #divButtons {
  text-align: right;
}

#divTransaction #divButtons i {
  margin-left: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 5px;
}

.changedTheDay {
  margin-top: 15px;
}
